.App {
}

.text h1 {
  font-size: 80px;
  color: brown;
}
.text h3 {
  font-size: 50px;
}
.text p {
  padding-top: 20px;
  padding-bottom: 20px;
}
.text {
  padding: 170px 190px;
}
.text button {
  font-size: larger;
  padding: 10px 10px;
}
.text {
  background-image: url(./images/skincare.avif);
  height: 800px;
  width: 100%;
  background-size: cover;
}
